/* Add your custom styles here */

#searchForm {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

#searchForm input {
    margin-right: 8px; /* Adjust the spacing between input and button as needed */
}

#collegeName {
    padding-left: 10px;
    font-size: 30px;
}


.rounded-hr {
    border-top: 1px solid #fff; /* Change the color to your desired color */
    border-radius: 10px; /* Adjust the border-radius as needed */
    margin: 15px 0; /* Add some margin for spacing */
}

.sideBar{
    text-decoration-color: #fff !important;
}
